body {
    font-family: arial, sans-serif;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main, #logo, #search {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#top-footer{
    padding: 0 15px;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid rgb(227, 227, 227);
    background-color: rgb(242, 242, 242);
    color: rgb(100, 100, 100);
    line-height: 40px;
}

#top-footer a, #left-footer a, #right-footer a {
    color: rgb(100, 100, 100);
    padding: 0 20px 0 0;

}
#top-footer {
    position: fixed;
    bottom: 0;
}

#left-footer, #right-footer
{
    float: left;
    width: 49%;
}

#right-footer
{
    text-align: right;
}

#logo {
    margin: 40px auto;
    padding-top: 100px;
    width: 272px;
}

#search {
    overflow: hidden;
    padding: 5px;
}

#search .button {
    background-color: rgb(242, 242, 242);
    border: none;
    color: rgb(100, 100, 100);
    cursor: pointer;
    font-size: 1em;
    padding: 10px;
    margin: 5px;
    width: auto;
}

#search .button:hover {
    border: 1px solid rgb(227, 227, 227);
    -webkit-box-shadow: 0px 1px 5px rgba(100,100,100,0.75);
    -moz-box-shadow: 0px 1px 5px rgba(100,100,100,0.75);
    box-shadow: 0px 1px 5px  rgba(100,100,100,0.75);
}

#search .textfield {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 34px;
    -moz-border-radius: 34px;
    -webkit-border-radius: 34px;
    font-family: arial, sans-serif;
    font-size: 1.5em;
    height: 34px;
    padding: 10px 20px;
    min-width: 500px;
    max-width: 70%;
}

#search .textfield:focus, #search .textflield:hover {
    border: none;
    outline: none;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(100,100,100,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(100,100,100,0.75);
    box-shadow: 1px 1px 5px 0px rgba(100,100,100,0.75);
}

#btn-search {
    padding: 20px;
}

#top-navbar-right {
    display: block;
    line-height: 40px;
    width: 100%;
    text-align: right;
}

#top-navbar-right a {
    color: rgb(33, 33, 33);
    margin: 10px;
}

#top-navbar-right input {
    background-color: rgb(68, 133, 245);
    border: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin: 10px; 
    padding: 10px;
}

.icon {
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.icon:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}